@model X.PagedList.IPagedList<Lab4ProyectoFinal.Models.Domicilio>
@using X.PagedList.Mvc.Core


<div class="container my-5">
    <h1 class="text-center mb-4">Lista de Domicilios</h1>

    <form asp-controller="Domicilios" asp-action="Index" class="d-flex align-items-center mb-3">
        <input type="text" name="buscarDomicilio" id="buscarDomicilio" class="form-control form-control-sm me-2" placeholder="Direccion de la calle" />
        <button type="submit" class="btn btn-dark btn-sm">BUSCAR</button>
    </form>


 

    <div class="card shadow-sm">
        <div class="card-body p-0">
            <table class="table table-striped mb-0">
                <thead class="table-dark">
                    <tr>
                        <th>Calle</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Calle)</td>
                            <td class="text-center">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-warning me-2">Editar</a>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info me-2 text-white">Detalles</a>
                                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="pagination-container mt-4">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {
       UlElementClasses = new[] { "pagination", "justify-content-center" },
       LiElementClasses = new[] { "page-item" },
       PageClasses = new[] { "page-link" },
       ActiveLiElementClass = "active",
       LinkToPreviousPageFormat = "Anterior",
       LinkToNextPageFormat = "Siguiente",
       LinkToFirstPageFormat = "Primera",
       LinkToLastPageFormat = "Última",
       DisplayLinkToFirstPage = PagedListDisplayMode.Always,
       DisplayLinkToLastPage = PagedListDisplayMode.Always,
       DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
       DisplayLinkToNextPage = PagedListDisplayMode.Always,
       Display = PagedListDisplayMode.Always
   })
    </div>
</div>
